*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #10101E;
}

.datalaikas {
  color: #fff;
  background: #10101E;
  font-family: "Fjalla One", sans-serif;
  width: 400px;
  padding: 15px 10px;
  border: 10px double #f549cd;
  border-radius: 50px 5px;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(199, 21, 133, 0), rgba(255, 255, 255, 0.1));
  transition: 0.5s;
  transition-property: background box-shadow;
}

.datalaikas:hover{
  background: #f549cd;
  box-shadow: 0 0 30px #f549cd;
}

.data{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.laikas{
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.laikas span{
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
